.detailOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.detailOverview img {
    width: 30%;
}
.detailOverview .detailsDescription {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.detailOverview .detailsDescription .counter {
    margin-bottom: 1rem;
}