#NavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}    


#NavBar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s all linear;
}


#NavBar li>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#NavBar li>span a {
    display: inline;
    margin: 0;
    color: white;
    text-decoration: none;
}

#NavBar li>span i {
    transition: 0.4s all linear;
    font-size: 1.5rem;
}

#NavBar li> ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(#2871cc, 0.9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    color: white;
    transition: 0.5s all ease;
    transform: translateY(2.5rem);
}

#NavBar li:hover {
    background-color: white;
    color: #2871cc;
    border-radius: 5px;
}

#NavBar li:hover span i{
    transform: rotate(90deg);
}

#NavBar li:hover span a {
    color: #2871cc;
}

#NavBar li:hover> ul {
    transition-delay: 0.3s;
    max-height: 500px;
}