div{
    text-align: center;
}

.botones{
    font-size: 30px;
    font-weight: bold;
}



.elemento{
    background-color: #4ca0af;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
}

#demo{
    font-weight: bold;
    font-size: 25px;
}